color biru muda : #2CA4BF
color biru muda banget: #30B1BF
color coklat : #260101
color putih : #F2F2F2
color abu2 :#BFBFBF

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}
